<!DOCTYPE html>
<html>
<head>
    <title>Ласкаво просимо</title>
</head>

<body style="
font-family:Arial;
background: linear-gradient(120deg,#0f2027,#203a43,#2c5364);
color:white;
height:100vh;
display:flex;
align-items:center;
justify-content:center;
">

<div style="text-align:center;">

    <h1>🛒 Вітаємо у Market!</h1>
    <p style="max-width:400px; margin:20px auto;">
        Купуй техніку швидко, зручно та безпечно
    </p>

    <a href="/login/"
       style="
       display:inline-block;
       padding:12px 25px;
       background:white;
       color:black;
       text-decoration:none;
       font-weight:bold;
       margin:10px;
       ">
       Увійти
    </a>

    <a href="/register/"
       style="
       display:inline-block;
       padding:12px 25px;
       background:#00ffcc;
       color:black;
       text-decoration:none;
       font-weight:bold;
       margin:10px;
       ">
       Зареєструватися
    </a>

</div>

</body>
</html>
